---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '@fontsource-variable/onest';
import Badge from '../components/Badge.astro'
---

<Layout title="Manuel Guerrero Rodríguez">
	<main>
		<section class="w-full  mx-auto lg:w-[740px] py-44">
		<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-8">
			Buenas, me llamo Manuel 
			<a href="https://www.linkedin.com/in/manuel-guerrero-rodr%C3%ADguez-7b9179227/" 
			target="_blank"
			rel="noopener"
			class="flex justify-center items-center">
				<Badge>Ready to work</Badge></h1>
		<h2 class="text-xl opacity-85">Desarrollador Full Stack con +1 año de experencia. Siempre con ganas de seguir aprendiendo desde Sevilla, España. 
			</h2>
			<ul></ul>
		</section>
	</main>
</Layout>