---
 const personalImageAlt = "Manuel"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-green-500 dark:[&>p>strong]:text-green-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me presento, soy Manuel. Empecé en la programación en Ilerna Sevilla hace un par de años.  <strong
        >Siempre he estado trabajando de soldador, tras varios años me pasé a lo que me gusta que es la Programación</strong
      >.
    </p>

    <p>
      Algunos de mis trabajos incluyen <strong
        >el desarrollo mediante API REST de el uso, recuperación y representación de formularios</strong>
    </p>
  </div>

  <img width="200" height="200" src="/ImagenProyecto/manuel.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-full bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>

