---
import TimelineItem from "../components/TimelineItem.astro"
const Experiencia = [
    
        {
    date: "Actualmente...",
    title: "Desarrollo web",
    company: "Por cuenta propia",
    description:
      "Siguiendo el desarrollo y el aprendizaje de varios framework de desarrollo como Astro y React.",
    
  },
  {
    date: "2022-2023",
    title: "Desarrollo de software",
    company: "Proxya",
    description:
      "Desarrollo Full Stack desde backend recuperando datos desde SQL Oracle, desarrollo de funciones con Spring Boot y desarrollo del frontend junto JS y React.",
  },
]
    

---
<ol class="relative mt-16">
    {
      Experiencia.map((experiencia) => (
        <li class="">
          <TimelineItem {...experiencia} />
        </li>
      ))
    }
  </ol>

